name: Unity CI

on:
  pull_request: {}
  push: { branches: [main] }

env:
  UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}

jobs:
  build:
    name: Build project
    runs-on: ubuntu-latest
    steps:
      # Checkout
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          lfs: true

      # Cache
      - uses: actions/cache@v1.1.0
        with:
          path: Library
          key: Library

      # # Unity activation
      # - name: Unity - Activate
      #   uses: game-ci/unity-activate@v1.3

      # Test
      - name: Run tests
        uses: webbertakken/unity-test-runner@v1.4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}

      # Build
      - name: Build project
        uses: webbertakken/unity-builder@v0.10
        with:
          targetPlatform: StandaloneWindows64

      # Output
      - uses: actions/upload-artifact@v1
        with:
          name: Build
          path: build